body{
    background-color: orangered;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: white;
    padding: 10px;
}
.box{
    background-color: white;
    height: 200px;
    width: 500px;
    padding: 30px;
    margin: 10px;
    display: flex;
    gap: 40px;
    border-radius: 10px;

}
img{
    height: 150px;
    width: 150px;
    padding: 20px 0 0 0;
   
}
section{
    padding: 10px;
    margin: 20px 20px 20px 100px;

}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
